<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PM</key>
		<string>王菲</string>
		<key>WD</key>
		<string>那英</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>元芳</string>
		<key>WD</key>
		<string>展昭</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>麻雀</string>
		<key>WD</key>
		<string>乌鸦</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>胖子</string>
		<key>WD</key>
		<string>肥肉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>眉毛</string>
		<key>WD</key>
		<string>胡须</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>何炅</string>
		<key>WD</key>
		<string>维嘉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>状元</string>
		<key>WD</key>
		<string>冠军</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>饺子</string>
		<key>WD</key>
		<string>包子</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>玫瑰</string>
		<key>WD</key>
		<string>月季</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>董永</string>
		<key>WD</key>
		<string>许仙</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>若曦</string>
		<key>WD</key>
		<string>晴川</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>谢娜</string>
		<key>WD</key>
		<string>李湘</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>孟非</string>
		<key>WD</key>
		<string>乐嘉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>牛奶</string>
		<key>WD</key>
		<string>豆浆</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>保安</string>
		<key>WD</key>
		<string>保镖</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>白菜</string>
		<key>WD</key>
		<string>生菜</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>辣椒</string>
		<key>WD</key>
		<string>芥末</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>金庸</string>
		<key>WD</key>
		<string>古龙</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>赵敏</string>
		<key>WD</key>
		<string>黄蓉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>海豚</string>
		<key>WD</key>
		<string>海狮</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>水盆</string>
		<key>WD</key>
		<string>水桶</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>唇膏</string>
		<key>WD</key>
		<string>口红</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>森马</string>
		<key>WD</key>
		<string>以纯</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>烤肉</string>
		<key>WD</key>
		<string>涮肉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>气泡</string>
		<key>WD</key>
		<string>水泡</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>纸巾</string>
		<key>WD</key>
		<string>手帕</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>杭州</string>
		<key>WD</key>
		<string>苏州</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>香港</string>
		<key>WD</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>首尔</string>
		<key>WD</key>
		<string>东京</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>橙子</string>
		<key>WD</key>
		<string>橘子</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>葡萄</string>
		<key>WD</key>
		<string>提子</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>太监</string>
		<key>WD</key>
		<string>人妖</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>蝴蝶</string>
		<key>WD</key>
		<string>蜜蜂</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>小品</string>
		<key>WD</key>
		<string>话剧</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>裸婚</string>
		<key>WD</key>
		<string>闪婚</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>新年</string>
		<key>WD</key>
		<string>跨年</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>吉他</string>
		<key>WD</key>
		<string>琵琶</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>公交</string>
		<key>WD</key>
		<string>地铁</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>剩女</string>
		<key>WD</key>
		<string>御姐</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>童话</string>
		<key>WD</key>
		<string>神话</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>作家</string>
		<key>WD</key>
		<string>编剧</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>警察</string>
		<key>WD</key>
		<string>捕快</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>结婚</string>
		<key>WD</key>
		<string>订婚</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>奖牌</string>
		<key>WD</key>
		<string>金牌</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>孟飞</string>
		<key>WD</key>
		<string>乐嘉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>那英</string>
		<key>WD</key>
		<string>韩红</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>面包</string>
		<key>WD</key>
		<string>蛋糕</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>作文</string>
		<key>WD</key>
		<string>论文</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>油条</string>
		<key>WD</key>
		<string>麻花</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>壁纸</string>
		<key>WD</key>
		<string>贴画</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>枕头</string>
		<key>WD</key>
		<string>抱枕</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>手机</string>
		<key>WD</key>
		<string>座机</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>同学</string>
		<key>WD</key>
		<string>同桌</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>婚纱</string>
		<key>WD</key>
		<string>喜服</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>浴缸</string>
		<key>WD</key>
		<string>鱼缸</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>电动车</string>
		<key>WD</key>
		<string>摩托车</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>眉毛</string>
		<key>WD</key>
		<string>睫毛</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>书</string>
		<key>WD</key>
		<string>本</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>筷子</string>
		<key>WD</key>
		<string>竹签</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>麻雀</string>
		<key>WD</key>
		<string>乌鸦</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>火车</string>
		<key>WD</key>
		<string>轮船</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>镜子</string>
		<key>WD</key>
		<string>玻璃</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>手</string>
		<key>WD</key>
		<string>脚</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>笤帚</string>
		<key>WD</key>
		<string>拖把</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>铅笔带</string>
		<key>WD</key>
		<string>铅笔盒</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>那英</string>
		<key>WD</key>
		<string>王菲</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>盗墓笔记</string>
		<key>WD</key>
		<string>鬼吹灯</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>散文</string>
		<key>WD</key>
		<string>小说</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>树枝</string>
		<key>WD</key>
		<string>树干</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>脸盆</string>
		<key>WD</key>
		<string>水桶</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>直尺</string>
		<key>WD</key>
		<string>三角板</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>吴昕</string>
		<key>WD</key>
		<string>谢娜</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>晨光</string>
		<key>WD</key>
		<string>真彩</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>蒙牛</string>
		<key>WD</key>
		<string>伊利</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>老佛爷</string>
		<key>WD</key>
		<string>老天爷</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>魔术师</string>
		<key>WD</key>
		<string>魔法师</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>鸭舌帽</string>
		<key>WD</key>
		<string>遮阳帽</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>双胞胎</string>
		<key>WD</key>
		<string>龙凤胎</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>情人节</string>
		<key>WD</key>
		<string>光棍节</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>丑小鸭</string>
		<key>WD</key>
		<string>灰姑娘</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>富二代</string>
		<key>WD</key>
		<string>高富帅</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>生活费</string>
		<key>WD</key>
		<string>零花钱</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>麦克风</string>
		<key>WD</key>
		<string>扩音器</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>郭德纲</string>
		<key>WD</key>
		<string>周立波</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>图书馆</string>
		<key>WD</key>
		<string>图书店</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>男朋友</string>
		<key>WD</key>
		<string>前男友</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>洗衣粉</string>
		<key>WD</key>
		<string>皂角粉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>牛肉干</string>
		<key>WD</key>
		<string>猪肉脯</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>泡泡糖</string>
		<key>WD</key>
		<string>棒棒糖</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>小沈阳</string>
		<key>WD</key>
		<string>宋小宝</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>土豆粉</string>
		<key>WD</key>
		<string>酸辣粉</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>蜘蛛侠</string>
		<key>WD</key>
		<string>蝙蝠侠</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>口香糖</string>
		<key>WD</key>
		<string>木糖醇</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>酸菜鱼</string>
		<key>WD</key>
		<string>水煮鱼</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>小笼包</string>
		<key>WD</key>
		<string>灌汤包</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>薰衣草</string>
		<key>WD</key>
		<string>满天星</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>张韶涵</string>
		<key>WD</key>
		<string>王心凌</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>刘诗诗</string>
		<key>WD</key>
		<string>刘亦菲</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>甄嬛传</string>
		<key>WD</key>
		<string>红楼梦</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>甄子丹</string>
		<key>WD</key>
		<string>李连杰</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>包青天</string>
		<key>WD</key>
		<string>狄仁杰</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>大白兔</string>
		<key>WD</key>
		<string>金丝猴</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>果粒橙</string>
		<key>WD</key>
		<string>鲜橙多</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>沐浴露</string>
		<key>WD</key>
		<string>沐浴盐</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>洗发露</string>
		<key>WD</key>
		<string>护发素</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>自行车</string>
		<key>WD</key>
		<string>电动车</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>班主任</string>
		<key>WD</key>
		<string>辅导员</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>过山车</string>
		<key>WD</key>
		<string>碰碰车</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>铁观音</string>
		<key>WD</key>
		<string>碧螺春</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>十面埋伏</string>
		<key>WD</key>
		<string>四面楚歌</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>成吉思汗</string>
		<key>WD</key>
		<string>努尔哈赤</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>谢娜张杰</string>
		<key>WD</key>
		<string>邓超孙俪</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>福尔摩斯</string>
		<key>WD</key>
		<string>工藤新一</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>贵妃醉酒</string>
		<key>WD</key>
		<string>黛玉葬花</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>流星花园</string>
		<key>WD</key>
		<string>花样男子</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>神雕侠侣</string>
		<key>WD</key>
		<string>天龙八部</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>天天向上</string>
		<key>WD</key>
		<string>非诚勿扰</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>勇往直前</string>
		<key>WD</key>
		<string>全力以赴</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>鱼香肉丝</string>
		<key>WD</key>
		<string>四喜丸子</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>麻婆豆腐</string>
		<key>WD</key>
		<string>皮蛋豆腐</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>语无伦次</string>
		<key>WD</key>
		<string>词不达意</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>鼠目寸光</string>
		<key>WD</key>
		<string>井底之蛙</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>近视眼镜</string>
		<key>WD</key>
		<string>隐形眼镜</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>美人心计</string>
		<key>WD</key>
		<string>倾世皇妃</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>夏家三千金</string>
		<key>WD</key>
		<string>爱情睡醒了</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>降龙十八掌</string>
		<key>WD</key>
		<string>九阴白骨爪</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>红烧牛肉面</string>
		<key>WD</key>
		<string>香辣牛肉面</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>江南style</string>
		<key>WD</key>
		<string>最炫民族风</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>梁山伯与祝英台</string>
		<key>WD</key>
		<string>罗密欧与朱丽叶</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>江南style</string>
		<key>WD</key>
		<string>最炫民族风</string>
	</dict>
	<dict>
		<key>PM</key>
		<string>梁山伯与祝英台</string>
		<key>WD</key>
		<string>罗密欧与朱丽叶</string>
	</dict>
</array>
</plist>
